# backend
/server/node_modules
/server/.env
/server/dist

# frontend
/client/node_modules
/client/.env.local
/client/.next

# test artifacts
/client/playwright-report
/client/test-results
/client/blob-report
/client/coverage
/server/coverage

# general
.DS_Store
build
node_modules
dist
.env
*.tsbuildinfo
